/* 修改 mdui.css 的内容 */

@media (min-width: 1024px) {
    .mdui-drawer {
        width: 320px;
    }
    .mdui-drawer-body-left {
        padding-left: 240px;
    }
    .mdui-drawer-body-right {
        padding-right: 0px;
    }
    .mdui-drawer-close {
        -webkit-transform: translateX(-330px);
                transform: translateX(-330px);
    }
    .mdui-drawer-close.mdui-drawer-right {
        -webkit-transform: translateX(330px);
                transform: translateX(330px);
    }
}


.mdui-textfield-focus .mdui-textfield-input, 
.mdui-textfield-focus .mdui-textfield-input:hover {
    border-bottom-color: white;
    -webkit-box-shadow: 0 1px 0 0 white;
            box-shadow: 0 1px 0 0 white;
}

.mdui-dialog-content .mdui-textfield-focus .mdui-textfield-input, 
.mdui-dialog-content .mdui-textfield-focus .mdui-textfield-input:hover {
    border-bottom-color: rgba(0,0,0,0.7) !important;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.7) !important;
            box-shadow: 0 1px 0 0 rgba(0,0,0,0.7) !important;
}

/* 本页面的其他CSS */

#wikiURL {
    display: none;
}

.mdui-list-item:hover > #wikiURL, 
.mdui-toolbar > #wikiURL {
    display: auto;
}