*::-webkit-scrollbar {
    display: none;
}







@media (max-height: 599.9px) {
    body {
        padding-top: 45px !important;
    }
    
    .mdui-fab {
        bottom: 56px;
    }
    
    .mdui-toolbar:nth-child(1) {
        height: 40px !important;
        bottom: 0 !important;
        top: auto !important;
        position: fixed;
    }
    
    .mdui-toolbar:nth-child(1) .mdui-textfield-input {
        font-size: 13px;
        padding: 0 !important;
        border: 0 !important;
        margin: 0 !important;
    }

    .mdui-toolbar:nth-child(1) .mdui-icon {
        display: none;
    }

    .mdui-toolbar:nth-child(1) .mdui-textfield {
        padding: 8px 0 !important;
    }

    .mdui-toolbar:nth-child(1) .mdui-textfield-focus .mdui-textfield-input,
    .mdui-toolbar:nth-child(1) .mdui-textfield-focus .mdui-textfield-input:hover,
    .mdui-toolbar:nth-child(1) .mdui-textfield-input {
        box-shadow: 0 0 0 0 !important;
    }

    .mdui-toolbar:nth-child(2) {
        height: 45px !important;
    }

    .mdui-toolbar:nth-child(2) .mdui-list-item-content {
        margin: 0 12px;
    }

    #grammar {
        font-size: 13px;
    }

    #note {
        font-size: 11px;
        margin-top: 0;
    }

    #list .mdui-list-item {
        padding-right: 8px;
        padding-left: 8px;
        min-height: 24px;
        max-height: 36px;
        height: calc(100vh / 16);
        transition: height .3s;
    }

    #list .mdui-list-item-content {
        padding: 0;
        height: 20px;
    }

    #list .mdui-list-item-title {
        display: inline;
        font-size: 13px;
        
    }

    #list .mdui-list-item-text {
        display: inline;
        font-size: 11px;
    }
}



body.thin-model {
    padding-top: 45px !important;
}

body.thin-model .mdui-fab {
    bottom: 56px;
}

body.thin-model .mdui-toolbar:nth-child(1) {
    height: 40px !important;
    bottom: 0 !important;
    top: auto !important;
    position: fixed;
}

body.thin-model .mdui-toolbar:nth-child(1) .mdui-textfield-input {
    font-size: 13px;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}

body.thin-model .mdui-toolbar:nth-child(1) .mdui-icon {
    display: none;
}

body.thin-model .mdui-toolbar:nth-child(1) .mdui-textfield {
    padding: 8px 0 !important;
}

body.thin-model .mdui-toolbar:nth-child(1) .mdui-textfield-focus .mdui-textfield-input,
body.thin-model .mdui-toolbar:nth-child(1) .mdui-textfield-focus .mdui-textfield-input:hover,
body.thin-model .mdui-toolbar:nth-child(1) .mdui-textfield-input {
    box-shadow: 0 0 0 0 !important;
}

body.thin-model .mdui-toolbar:nth-child(2) {
    height: 45px !important;
}

body.thin-model .mdui-toolbar:nth-child(2) .mdui-list-item-content {
    margin: 0 12px;
}

body.thin-model #grammar {
    font-size: 13px;
}

body.thin-model #note {
    font-size: 11px;
    margin-top: 0;
}

body.thin-model #list .mdui-list-item {
    padding-right: 8px;
    padding-left: 8px;
    min-height: 24px;
    max-height: 36px;
    height: calc(100vh / 16);
    transition: height .3s;
}

body.thin-model #list .mdui-list-item-content {
    padding: 0;
    height: 20px;
}

body.thin-model #list .mdui-list-item-title {
    display: inline;
    font-size: 13px;
}

body.thin-model #list .mdui-list-item-text {
    display: inline;
    font-size: 11px;
}