.mdui-drawer-always-wide.mdui-drawer {
    width: 320px !important;
}

.mdui-drawer-always-wide.mdui-drawer-close {
    -webkit-transform: translateX(-330px) !important;
            transform: translateX(-330px) !important;
}

.mdui-drawer-always-wide.mdui-drawer-close.mdui-drawer-right {
    -webkit-transform: translateX(330px) !important;
            transform: translateX(330px) !important;
}

.mdui-list-item:hover {
    background-color: "";
}

.mdui-textfield-white .mdui-textfield-input{
    border-bottom: 1px solid white !important;
}

.mdui-textfield-focus.mdui-textfield-white .mdui-textfield-input, 
.mdui-textfield-focus.mdui-textfield-white .mdui-textfield-input:hover {
    border-bottom-color: white !important;
    -webkit-box-shadow: 0 1px 0 0 white !important;
            box-shadow: 0 1px 0 0 white !important;
}

.mdui-textfield-focus.mdui-textfield-black .mdui-textfield-input, 
.mdui-textfield-focus.mdui-textfield-black .mdui-textfield-input:hover {
    border-bottom-color: rgba(0,0,0,0.7) !important;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.7) !important;
            box-shadow: 0 1px 0 0 rgba(0,0,0,0.7) !important;
}